ol{
    text-align: center;
    background: radial-gradient(farthest-side ellipse at top left,rgb(0, 217, 255),rgb(255, 0, 0));
}
li{
    height: 200px;
}
li:first-child{
    background:  linear-gradient(45deg,rgb(0, 255, 76),rgb(255, 0, 0));
}
li:nth-child(3){
    background:  linear-gradient(80deg,rgb(255, 0, 0),rgb(0, 38, 255));
}
li:last-child{
    background:  linear-gradient(5deg,rgb(255, 0, 191),rgb(208, 255, 0));
}
