.main{
    height: 20px;
    width: 60px;
    text-align: center;
    border-radius: 5px;
    visibility: visible;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.menu{
    text-align: center;
    height: 70px;
    width: 100px;
    padding: 2px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
    .main:hover{
    box-shadow: -2px -1px 5px rgba(0,0,0,0.15),
    2px -1px 5px rgba(0,0,0,0.15);
    }
    .sub{
    color:blue;
    }
    .q{
    visibility:hidden;
    
    }
    .q:hover{
    visibility: visible;
    }
    div.sub:hover{
    padding-top: 0px;
    color:white;
    background: blue;
    }