@media (orientation: portrait){
    body{
        background: rgb(255, 255, 255);
        margin: 0px;
        font-size: 10px;
    }
    header{
        background: radial-gradient(#56dd8a, #9e1d1d);
    }
    nav{
        background: radial-gradient(#56dd8a, #9e1d1d);
    }
    nav a{
        color:black;
        font-size: 8px;
    }
    nav button{
        width:80%;
        height:5%;
    }
    main{
        background: linear-gradient(#008634, #500000);
    }
    footer{
        background: radial-gradient(#56dd8a, #9e1d1d);
    }
}
@media (orientation: landscape){
    body{
        background: rgb(0, 0, 0);
        margin: 0px;
    }
    header{
        background: radial-gradient(#00ff62, #fbff00);
    }
    nav{
        background: radial-gradient(#00ff62, #fbff00);
    }
    nav a{
        color:black;
        font-size: 15px;
    }
    main{
        background: linear-gradient(#00792e, #777900);
    }
    footer{
        background: radial-gradient(#00ff62, #fbff00);
    }
}
@keyframes shadow{
    from { 
        text-shadow: 0px 0px 10px rgb(0, 0, 0);
        color:black;
    }
    50% { 
        text-shadow: 0px 0px 30px rgb(255, 0, 0);
        color:red;
    }
    to { 
        text-shadow: 0px 0px 10px rgb(0, 0, 0);
        color:black;
    }
  }
@keyframes color{
    0%{ 
        color:rgb(255, 0, 0);
    }
    14%{
        color:rgb(255, 187, 0);
    }
    28% { 
        color: rgb(251, 255, 0);
    }
    42%{
        color:rgb(0, 255, 0);
    }
    56%{ 
        color:rgb(0, 247, 255);
    }
    70%{
        color:rgb(0, 81, 255);
    }
    84%{
        color:rgb(132, 0, 255);
    }
    100%{
        color:rgb(255, 0, 0);
    }
}
@keyframes vis{
    0%{
        color: rgba(68, 0, 255,1);
    }
    100%{
        color: rgba(68, 0, 255,0);
    }
}
@keyframes brd {
    0%{
        border-radius: 5px;
        border-top: 5px solid rgb(255, 0, 0);
        border-right: 5px solid rgb(0, 255, 0);
        border-left: 5px solid rgb(229, 255, 0 );
        border-bottom: 5px solid rgb(0, 102, 255);
    }
    25%{
        border-radius: 10px;
        border-top: 5px solid rgb(229, 255, 0);
        border-right: 5px solid rgb(255, 0, 0);
        border-left: 5px solid rgb(0, 102, 255);
        border-bottom: 5px solid rgb(0, 255, 0 );
    }
    50%{
        border-radius: 15px;
        border-top: 5px solid rgb(0, 102, 255);
        border-right: 5px solid rgb(229, 255, 0);
        border-left: 5px solid rgb( 0, 255, 05);
        border-bottom: 5px solid rgb(255, 0, 0);
    }
    75%{
        border-radius: 10px;
        border-top: 5px solid rgb(0, 255, 05);
        border-right: 5px solid rgb(0, 102, 255);
        border-left: 5px solid rgb(255, 0, 0 );
        border-bottom: 5px solid rgb(229, 255, 0);
    }
    100%{
        border-radius: 5px;
        border-top: 5px solid rgb(255, 0, 0);
        border-right: 5px solid rgb(0, 255, 0);
        border-left: 5px solid rgb(229, 255, 0 );
        border-bottom: 5px solid rgb(0, 102, 255);
    }
}
@keyframes clr{
    0%{
        color:rgb(68, 0, 255);
    }
    50%{
        color:rgb(255, 0, 0);
    }
    100%{
        color:rgb(68, 0, 255);
    }
}
header{
    height: 20%;
    padding: 10px;
    text-align: center;
    animation-duration: 3s;
    animation-name: shadow;
    animation-iteration-count: infinite;
}
header:hover{
    background: radial-gradient(#fbff00, #00ff62);
}
nav{
    float: left;
    display: block;
    text-align: center;
    width: 20%;
    height: 1000px;
}
nav button{
    border: 2px black solid;
    border-radius: 5px;
    background: #00d9ff;
    margin: 10%;
}
nav:hover{
    background: radial-gradient(#fbff00, #00ff62);
}
nav button:hover{
    transition: box-shadow 3s, background 1s;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
    background: #ff0000;
}
main{
    float: right;
    display: block;
    width:80%;
    height: 1000px;
}
footer{
    height: 20%;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    color:white;
}
footer:hover{
    background: radial-gradient(#fbff00, #00ff62);
    color:rgb(0, 0, 0);
}
p{
    margin:5%;
    animation-duration: 10s;
    animation-name: color;
    animation-iteration-count: infinite;
    font-size: 18px;
}
table{
    margin: 5%;
    height: auto;
    width: auto;
    color:rgb(68, 0, 255); 
    border-color:rgb(0, 0, 0);
    text-align: center;
    border: 2px solid black;
}
td{
    
    border: 2px solid black;
}
.a{
    animation-duration: 7s;
    animation-name: clr;
    animation-fill-mode:forwards;
}
.b{
    animation-duration: 5s;
    animation-name: brd;
    animation-iteration-count: infinite;
}
.color:hover{
    animation-duration: 10s;
    animation-name: color;
}
.vis:hover{
    animation-duration: 5s;
    animation-name: vis;
    animation-fill-mode:forwards;
}